body {
	margin: 0px;
	font-size: 1.1em;
	background-color: #d9d9d9;
	color: #ee6f57;
}

footer, nav {
	text-align: center;
}

nav ul li {
	display: inline;
    margin-right: 10px;
}

button, input[type=submit] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
}

button, input {
	box-sizing: border-box;
	background: #1b7ca1;
	border: 0px solid white;
	border-radius: 5px;
	box-shadow: 2px 2px #116080;
	font-size: 1em;
	outline: none;
}

input[type=file] {
	color: black;
}

button:hover, input[type=submit]:hover, input[type=file]:hover {
	background: #166e91;
}

a {
	color: #ee6f57;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.3em;
	padding: 15px;
}

a:hover {
	color: #00334e;
}

h1 {
	margin: 30px;
	color: #ee6f57;
}

#main {
	/* background-image: url("img/pizza.jpg"); */
	background-color: #145374;
	border-radius: 5px;
	background-size: 100%;
	/* height: 80vh; */
}

.main-text {
	font-weight: bold;
	padding: 25px;
	text-align: center;
}

.amongDiv {
	float: left;
	width: auto;
	display: block;
}

#ratings-div {
	margin: 20px;
}

#new {
	background-color: #00334e;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #c9c9c9;
}

::-webkit-scrollbar-thumb {
	background: #167fb8;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #1c74a3;
}

input[type=range] {
	height: 26px;
	-webkit-appearance: none;
	margin: 10px 0;
	background: none;
	vertical-align: middle;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	background: #00334e;
	border-radius: 14px;
}
input[type=range]::-webkit-slider-thumb {
	border: 1px solid #00334e;
	height: 20px;
	width: 30px;
	border-radius: 12px;
	background: #145374;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
}
